<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="duke.cs.fall2012.catseverywhere"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:icon="@drawable/leopard_icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name=".SplashActivity"
            android:label="@string/title_activity_splash"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GoogleMapsActivity"
            android:label="@string/title_activity_google_maps"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ImageSelector"
            android:label="@string/title_activity_image_selector"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Main"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Preferences"
            android:label="@string/title_activity_preferences"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".CreateAccount"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" >
        </activity>
         <activity
            android:name=".Login"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".gallery.ImageGalleryActivity"
            android:label="@string/title_activity_gallery"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".gallery.NormalImageGridActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_grid" >
        </activity>
	    <activity
        	android:name=".gallery.ImageGridActivity"
            android:label="@string/title_activity_grid"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ImageUpload"
            android:label="Upload"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".gallery.UserImageGridActivity"
            android:label="UserImageGridActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".gallery.NormalImageGridActivity"
            android:label="NormalImageGridActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".CreateOrLogin"
            android:label="@string/title_activity_create_or_login"
            android:screenOrientation="portrait"  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>